
html {
    height: 100%;
}
body{

    padding-top: 0%;
    overflow: hidden;
}

#buttons{
  margin :5px;
}
.buttons{
  margin :5px;
}
 select{
     margin:5% 40%;
     padding: 0.3%;

 }
 #Long{
    text-align: center;
 }
 #subline{
    text-align: center;
 }
/* DropDown */
#sen,#reform,#checkcorrectness{
    text-align: center;

}
#msg{
  text-align: center;
  color: blue;
  font-weight: bold;
}
#selected{
  text-align: center;
  color: grey;
  font-weight: bolder;
  font-size: 40px;
}
#hin_sen{
    text-align: center;

}
#correct{
  text-align: center;
  font-weight: bolder;
  color: green;
}
#wrong{
  text-align: center;
  font-weight: bolder;
  color: red;
}
#showAnswer{
  text-align: center;
}
