
html {
    height: 100%;
}
body{

    padding-top: 0%;
    overflow: hidden;
}

#buttons{
  margin :5px;
}
 select{
     margin:5% 40%;
     padding: 0.3%;

 }
 #Long{
    text-align: center;
 }
 #subline{
    text-align: center;
 }
/* DropDown */
#sen{
    text-align: center;

}
